pkgbase = collins-dictionary-bin
	pkgdesc = Collins Dictionary desktop client (bundled JetBrains Runtime)
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Black-Cyan/collins-dictionary
	arch = x86_64
	license = GPL-3.0-or-later
	options = !strip
	options = !debug
	depends = alsa-lib
	depends = bash
	depends = fontconfig
	depends = freetype2
	depends = libjpeg-turbo
	depends = libpulse
	depends = libx11
	depends = libxcursor
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxrandr
	depends = libxtst
	depends = libxxf86vm
	depends = zlib
	source_x86_64 = https://github.com/Black-Cyan/collins-dictionary/releases/download/v1.0.0/collins-dictionary-1.0.0-linux-x64.tar.gz
	source_x86_64 = collins-dictionary.desktop
	source_x86_64 = collins-dictionary.png
	source_x86_64 = LICENSE
	sha256sums_x86_64 = SKIP
	sha256sums_x86_64 = SKIP
	sha256sums_x86_64 = SKIP
	sha256sums_x86_64 = SKIP

pkgname = collins-dictionary-bin
